* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}


body {
    background-image: url('https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcxMzU2MDE3OA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
    background-size: cover;
    height: 100vh;
    /* Altura */
    width: 100vw;
    /* Largura */
    display: flex;
    align-items: center;
    justify-content: center;








}


.caixa-maior {

    background-color: #000000;
    opacity: 0.8;
    /* Transparência */
    width: 95%;
    /* Largura */
    max-width: 450px;
    /* Largura Máxima */
    border-radius: 25px;
    /* Arredondar Bordas */
    padding: 20px;
}


.lupa {
    height: 20px;
    width: 20px;

}

button {
    border: none;
    padding: 10px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    border-radius: 50%;
    float: right;

}

button:hover{
    background-color: #7c7c7c;
}

input {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 100px);
    font-size: 24px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: white;
    font-size: 28px;
}
.temp {
    color: white;
    margin-top: 30px;
    font-size: 30px;
}
.umidade{
    color: white;
    margin-top: 30px;

}